<table class="table table-hover">
    <tr>
        <td>Id</td>
        <td>Name</td>
        <td>Price</td>
        <td>Image</td>
        <td>Action</td>
    </tr>
    <tr *ngFor="let item of products">
        <td>
            <div *ngIf="item.isEdit">
                <input type="text" name="" [(ngModel)]="item.productId" id="">
            </div>
            <div *ngIf="!item.isEdit">
                {{item.productId}}
            </div>
       
        </td>
        <td>
            <div *ngIf="item.isEdit">
                <input type="text" name="" [(ngModel)]="item.productName" id="">
            </div>
            <div *ngIf="!item.isEdit">
                {{item.productName}}
            </div>
        </td>
        <td>
            <div *ngIf="item.isEdit">
                <input type="text" name="" [(ngModel)]="item.productPrice" id="">
            </div>
            <div *ngIf="!item.isEdit">
                {{item.productPrice}}
            </div>
        </td>
        <td><img [src]="item.productImage" height="100" width="100" alt=""></td>
        <td>
            <div *ngIf="item.isEdit">
                <button class="btn btn-warning" (click)="update(item)">Success</button>
            </div>
            <button class="btn btn-success" (click)="onEdit(item)">Edit</button>
            <button class="btn btn-link" (click)="delete(item)"><i class="fa fa-trash"></i></button></td>
  
    </tr>
</table>